  <h3 mat-dialog-title>Confirm Reservation</h3>

  <div mat-dialog-content *ngIf="data.bookingRefId > 0">
    <table class='table table-striped' aria-labelledby="tableLabel">
      <thead>
        <tr>
          <th>Booking Ref Id</th>
          <th>Make</th>
          <th>Model</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Total Cost (in GBP)</th>
          <th>Booking Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ data.bookingRefId }}</td>
          <td>{{ data.make }}</td>
          <td>{{ data.model }}</td>
          <td>{{ data.startDate | date }}</td>
          <td>{{ data.endDate | date }}</td>
          <td>{{ data.totalCost }}</td>
          <td>{{ data.bookingStatus }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div mat-dialog-content *ngIf="data.bookingRefId <= 0">
    <span>Requested vehicle not avialble for booking please choose a different vehicle</span>
  </div>

  <div mat-dialog-actions>
    <button mat-button style="margin-right:20px" (click)="Cancel()">Cancel</button>
    <button mat-button style="margin-left:20px" [mat-dialog-close]="data.bookingRefId" cdkFocusInitial>Confirm</button>
  </div>
